@media (max-width: 600px) {

    body {
        background-image: linear-gradient(to bottom, rgba(155, 221, 247, 0.808), rgba(157, 181, 189, 0.555));

        .cabeza {
            .navbar {
                .container-fluid {
                    .probando1 {
                        height: 85px;
                    }
                }
            }
        }

        #foto-inicio {
            height: 142px;
            padding-top: 8%;

            .primero {
                margin-left: 17%;
                font-size: 18px;
                height: 30px;
                width: 149px;
            }

            .tranquilidad {
                margin-left: 8%;
                width: 253px;
                font-size: 17px;
                height: 31px;
            }
        }

        .service {
            font-size: 145%;
        }

        .row {

            .col {
                width: 23%;

                .card {
                    width: 101%;

                    .card-img-top {
                        width: 60%;
                    }


                    .card-body-car {
                        font-size: 84%;

                        .card-text {
                            font-size: 81%;
                        }
                    }

                    .card-body1 {

                        .card-text {
                            font-size: 66%;

                        }
                    }
                }
            }
        }

        .mision {

            .inicio {
                font-size: 86%;
            }
        }

        .confianza {
            font-size: 23px;
        }

        .empresas {
            flex-direction: column;
        }

        .empresas2 {
            flex-direction: column;
            align-items: center;
            padding: 0px 57px 20px 0px
        }

        .pie-pagina {
            margin-bottom: 3px;

            .grupo-1 {
                grid-gap: 22px;
                height: 165px;

                .box {

                    figure {

                        .img-footer {
                            width: 140px;
                        }
                    }

                    .pruebita {
                        font-size: 13px;
                    }

                    .description {
                        font-size: 11px;
                    }

                    .red-social {

                        a {
                            width: 33px;
                            height: 33px;
                            line-height: 33px;
                            margin-bottom: 15%;
                        }

                    }
                }
            }

            .grupo-2 {
                padding: 10% 0% 0% 0%;
                text-align: center;

                small {
                    font-size: 9px;
                }
            }
        }

        // VEHÍCULOS //

        #foto-vehiculos {
            height: 116px;
            padding-top: 1%;

            .conduce-tranqui {
                width: 183px;
                height: 43%;
                font-size: 16px;
            }
        }

        .container {
            max-width: 100%;
            display: block;
            text-align: center;
        }

        .form {
            line-height: 132%;
            font-size: 86%;
            height: 100%;
            width: 78%;

            .cotizacion {

                .solicitud-coti {
                    font-size: 150%;
                }

                .form-car {

                    input {
                        width: 89%;
                        height: 28px;
                        font-size: 14px;
                    }

                    .send {
                        margin-top: 1%;
                    }

                }
            }
        }

        .talleres {
            margin-top: 5%;

            .title-car {
                font-size: 108%;
                margin: 6% 0% 2% 0%;
            }

            .img-car {
                height: 45px;
            }

            .text-car {
                font-size: 85%;

            }
        }

        .limitrofes {

            .title-car {
                font-size: 108%;
                margin: 4% 0% 2% 0%;
            }

            .text-car {
                font-size: 85%;
            }
        }

        .asesoramiento {

            .title-car {
                font-size: 108%;
                margin: 4% 0% 2% 0%;
            }

            .text-car {
                font-size: 85%;
            }
        }

        .billetera {

            .title-car {
                font-size: 108%;
                margin: 4% 0% 2% 0%;
            }

            .text-car {
                font-size: 85%;
                margin-bottom: 6%;
            }
        }

        .table {
            width: 98%;
            margin: auto;
        }

        .table-bordered {
            font-size: 10px;
        }

        // VIVIENDAS //

        #casa {
            height: 113px;
            padding-top: 2%;

            .vivienda {
                margin-left: 39%;
                width: 56%;
                height: 80%;
                font-size: 67%;
            }
        }

        .viviendas {
            font-size: 21px;
        }

        .porque-contratar {
            font-size: 18px;
        }

        #home {
            flex-direction: column;
            align-items: center;

            .img-home {
                height: 143px;
                width: 229px;
            }

            .list-home {

                .lista-home {
                    width: 355px;
                    font-size: 12px;
                }
            }
        }

        .ventaja {
            font-size: 17px;
        }

        .row-contact {

            .col-2 {

                .card {
                    font-size: 15px;
                    width: 109%;

                    .card-title {
                        font-size: 15px;
                    }

                    .img-contact {
                        width: 61%;
                    }

                    .img-contact-2 {
                        width: 30%;
                    }

                    .card-body {

                        .card-text {
                            font-size: 12px;
                        }
                    }
                }
            }
        }

        .tipos-planes {
            font-size: 17px;
        }

        .table-bordered {
            width: 98%;
        }


        // Comercios //

        #comerc {
            padding-top: 13px;
            height: 125px;

            .pyme {
                font-size: 11px;
                margin-left: 18px;
                width: 69%;
                height: 72%;
            }
        }

        .comercios {
            font-size: 21px;
        }

        #work {
            flex-direction: column;
            align-items: center;

            .work-img {
                height: 125px;
            }

            .list-work {
                width: 346px;
                line-height: 30px;
                font-size: 13px;
            }
        }

        .table {
            width: 90%;
            font-size: 11px;
        }

         // Cauciones //

         #caucion-image {
            height: 121px;
            padding-top: 8px;

            .image-caucion {
                font-size: 11px;
                margin-left: 20px;
                width: 66%;
                height: 90px;
            }
        }

        .contratar {
            font-size: 19px;
            margin: 3% 0% 2% 0%;
        }

        .cau-section {
            flex-direction: column;

            .caucion-mobile {
                height: 140px;
            }

            .list-cau {
                font-size: 15px;
                width: 366px;
                line-height: 25px;

                li {
                    width: 347px;
                }
            }
        }

        .tipos-coberturas {
            margin: 9px 0px 15px 0px;
            font-size: 19px;
        }

        .row {
            display: flex;
            justify-content: space-evenly;

            .col {
                width: 42%;

                .card2 {

                    .img-cau {
                        height: 69px;
                    }

                    .card-body {

                        .card-text2 {
                            font-size: 12px;
                            width: 145px;
                            margin: 4px 0px 14px 0px;
                        }
                    }
                }
            }
        }

        // Contacto //

        .contact {
            font-size: 20px;
        }

        .row-contact {

            .col-2 {
                width: 28%;

                .card {
                    .img-contact {
                        width: 32%;
                    }

                    .card-body {

                        .card-title {
                            font-size: 82%;
                        }

                        .card-text {
                            font-size: 65%;
                        }

                        .num-contact {
                            font-size: 68%;
                        }

                        button {
                            font-size: 12px;
                        }
                    }

                    .img-contact-2 {
                        width: 16%;
                    }
                }

                .h-100 {
                    align-items: center;
                    border: 2px black solid;
                    border-radius: 10px;
                }
            }
        }

        .contact2 {
            flex-direction: column;

            #first-ubication {
                display: flex;
                flex-direction: column;
                align-items: center;

                .phone {

                    .img-contacto {
                        width: 36px;
                    }

                    .text-contact {
                        font-size: 15px;
                        width: 210px;
                    }
                }

                .email {

                    .img-contacto {
                        width: 58px;
                    }

                    .text-contact2 {
                        font-size: 15px;
                    }

                }

                .ubicacion {

                    .img-contacto {
                        width: 40px;
                    }

                    .ubication {
                        line-height: 25%;
                        font-size: 15px;
                    }
                }
            }

            iframe {
                margin-bottom: 7%;
            }

            .contact_form {
                width: 325px;
                padding: 2px 3px 0px 8px;
                margin-bottom: 20px;
                margin: auto;

                .formulario {

                    .form-contact {
                        font-size: 20px;
                    }

                    .escribenos {
                        font-size: 12px;
                    }

                    form {
                        p {
                            margin-bottom: 8px;

                            label {
                                font-size: 11px;
                            }

                            .contact-form {
                                width: 310px;
                                height: 32px;
                                margin-top: 3px;
                                padding-left: 9px;
                            }

                            .texto_mensaje {
                                width: 310px;
                                height: 117px;
                                margin: 5px 0px 0px 0px;
                                padding: 10px 0px 0px 8px;
                            }
                        }

                        .enviar {
                            height: 32px;
                            margin: 7px 0px 10px 0px;
                            width: 310px;
                            display: flex;
                            justify-content: center;
                        }

                        .aviso {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}